@font-face {
    font-family: "Filson Soft";
    src: url(https://static.afcdn.com/relmrtn/Front/Vendor/fonts/Filson_Soft/Bold/FilsonSoft-Bold.woff2) format('woff2'), url(https://static.afcdn.com/relmrtn/Front/Vendor/fonts/Filson_Soft/Bold/FilsonSoft-Bold.woff) format('woff'), url(https://static.afcdn.com/relmrtn/Front/Vendor/fonts/Filson_Soft/Bold/FilsonSoft-Bold.ttf) format('ttf'), url(https://static.afcdn.com/relmrtn/Front/Vendor/fonts/Filson_Soft/Bold/FilsonSoft-Bold.eot) format('eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

body  {
    font-family: 'Source Sans Pro',sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

body DIV.m_bloc {
    box-sizing: content-box
}

.m_bloc {
    position: relative;
    width: 380px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden
}

.m_bloc a,
.m_bloc a:hover {
    text-decoration: none
}

a {
    color: #ff6f61;
}

.m_image_bloc {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    width: 380px;
    height: 300px;
    background-color: #303030;
    position: relative;
}

.m_contenu_bloc-wrapper {
    position: relative
}

.m_contenu_bloc-wrapper .icon-icon_heart,
.m_contenu_bloc-wrapper .icon-icon_heart_pressed {
    display: block;
    margin-top: 9px;
    font-size: 33px
}

.m_contenu_bloc__circle {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.m_contenu_bloc__circle::before,
.m_contenu_bloc__circle::after {
    content: '';
    position: absolute;
    z-index: 3;
    left: -14px;
    top: 13px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: radial-gradient(circle at top left, transparent 18px, #fff 19px)
}

.m_contenu_bloc__circle::after {
    left: auto;
    right: -14px;
    background: radial-gradient(circle at top right, transparent 18px, #fff 19px)
}

.m_contenu_bloc__circle {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.m_contenu_bloc__circle::before,
.m_contenu_bloc__circle::after {
    content: '';
    position: absolute;
    z-index: 3;
    left: -14px;
    top: 13px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: radial-gradient(circle at top left, transparent 18px, #fff 19px)
}

.m_contenu_bloc__circle::after {
    left: auto;
    right: -14px;
    background: radial-gradient(circle at top right, transparent 18px, #fff 19px)
}

.m_contenu_bloc__icon {
    position: absolute;
    left: 50%;
    top: -29px;
    transform: translateX(-50%);
    z-index: 60
}

.icon-icon_heart {
    display: block;
    margin-top: 9px;
    font-size: 33px
}

.m_contenu_bloc-wrapper .icon-icon_heart,
.m_contenu_bloc-wrapper .icon-icon_heart_pressed {
    display: block;
    margin-top: 9px;
    font-size: 33px
}

.icon-icon_heart {
    color: #ff6f61;
    font-size: 2em;
    display: block;
    margin-top: 9px;
    font-size: 33px;
    font-weight: 200;
}

.m_type_bloc {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 9px 5px 9px 10px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #ff7867;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -ms-border-radius: 100px 0 0 100px;
    -o-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
}

.m_contenu_bloc {
    padding-top: 10px;
}

.m_titre_bloc {
    font-family: 'Filson Soft', sans-serif;
    color: black;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
}

h2 {
    margin: 20px 10px;
}